@media only screen and (min-width: 600px){
.col-1 {width: 25%;}
.col-2 {width: 75%;}
.col-3 {width: 100%;}

}
@media only screen and (min-width: 768px){
.col-1 {width: 25%;}
.col-2 {width: 50%;}
.col-3 {width: 25%;}
}