.caixa{
background-color: red;
width: 250px;
}

.caixa-com-padding{
background-color: green;
width: 250px;
padding: 0 25px;
}

*{
	box-sizing: border-box;
}
section{
	border: 1px solid #000;
	height: 100px;
	margin: 40px auto;
	width: 400px;
}
h1{
	background-color: #990000;
	color: #FFF;
	font-size: 1.2em;
	left: -10px; padding: 5px 0;
	position: relative;
	text-align: center;
	width: 420px;
	font-family: 'Diplomata SC', cursive;
}
h1::before{
	border: 5px solid #7c0000;
	content: "";
	left: 0;
	position: absolute;
	top: -10px;
	border-color: transparent #7C0000 #7C0000 transparent;
	border-style: solid; 
	border-width: 5px;
	content: "";
	left: 0px;
	position: absolute;
	top: -10px;
}
h1::after{
	border-color:
	transparent transparent #7C0000 #7C0000;
	border-style: solid; border-width: 5px;
	content: "";        right:0;
	position: absolute;   top: -10px;
}
.help{
	background-color: #F1EFE6;
	border: 1px solid #D3CDAE;
	font-size: 0.9em;
	padding: 10px;
	position: relative;
	width: 300px;
	left: 10px;
}
.help::before{
	
	border-color:
	transparent #D3CDAE
	transparent transparent;
	border-style: solid;
	border-width: 14px;
	content: "";
	left: -28px;
	margin-top: -14px;
	position: absolute;
	top: 50%;
}
.tip::before{
	content: "\261E";
	margin-right: 10px;
	font-size:30px;
}
blockquote{
	color: #444;
	font-style: italic;
}
blockquote::before,blockquote::after {
	color: #000;
	font-size: 3em;
}
blockquote::before{
	content: "\201C";
}
blockquote::after {
	content: "\201D";
}
@media print{
}

body{
	background-color: yellow;
	font-family: 'Diplomata SC', cursive;
}
@media screen and (max-width: 900px) {
	body{
		background-color: lightblue;
	}
	div.example{
		display: none;
	}
}
@media print{
	.{
		background: transparent !important;
		border-color: black !important;
		box-shadow: none !important;
		color: black !important;
		text-shadow: none !important;
	}
	a { text-decoration: underline !important; }
	a [href]::after {
		content: ' ('attr(href)')';
	}
	a[href^="javascript:"]::after, a[href^="#"]::after{
		content: "";
	}
}

.tnt{
	border-radius: 50px;
	border: 5px solid red;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	color: red;
}

.counter {
	background-color: #000;
	border-top-left-radius: 25px 10px;
	border-top-right-radius: 25px 10px;
	color: white; display: block;
	font-size: 1.7em; height: 50px;
	line-height: 50px; text-align: center;
	width: 50px;
}

figure{
	position: relative;
}

img{
	display: block;
}

figcaption{
	bottom: 5px;
	margin: 0 5px;
	padding: 5px;
	position: absolute;
	width: 300px;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
}

.omg-pink{
	background: linear-gradient(to bottom right, #FC0050, #FF79A3);
}

.reverse-blue{
	background: linear-gradient(to top, #0537B7, #4377FA);
}

h1{
	background-color: #1D9AC0;
	display: inline-block;
	color: #FFF;
	padding: 10px;
	font-weight: bold;
	text-shadow: 2px 4px 2px rgba(0,0,0,0.5)
}

span{ background-color: lightBlue;}
	p{background-color: green;}
	
h2{
	float: left;
	margin: 0 20px 20px 0;
}

img{
	float: left;
	margin-right: 10px;
}

.direita{
	float: right;
}
.meio{
	float: left;
	widht: 200px;
}
.esquerda{
	float: left;
}

p{
	column-count: 3;
	column-gap: 10px;
	column-rupe: 1px solid #666;
	font-size: 0.9em;
	widht: 50  0px;
}
.seletor {
	width: 60px;
	margin: 0 auto;
	text-align: center;
}

.seletor div {
	background-color: #AFA;
}
.seletor > div{
	color: #00F;
	font-sizeee: 20px;
}

