input: focus{
	border-color: #35861B;
	box-shadow: 0 0 5px #35861B;
	outline: none;
}
div{
	box-shadow: 3px 3px 3px #AAA;
	box-shadow: -3px -3px 3px #AAA;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.25) inset;
	background-color: ligthGreen;
	padding: 5px;
	width: 200px;
	text-align: center;
	font-weight: bold;
}